p 這個章節將會一步一步帶你做出一個完整的小遊戲，所有的步驟都會附上程式碼與實際範例，可以點擊範例程式執行並觀察成果。
section
  h3
    span#start-game 創造遊戲
  p.syntax Engine(canvasId);
  p canvasId: canvas 元素的 ID
  pre.javascript
    code
      | var Game = Engine('stage');
  p 初始化遊戲設定
  pre.javascript
    code
      | Game.set({
      |     width: 400, // Default: 640px
      |     height: 400, // Default: 480px
      |     debugMode: true // Default: false
      | });
  p.warning Koding School 平台編輯程式，不需要初始化遊戲
section
  h3
    span#start-preload 載入素材
  p
  p.syntax Game.preload([path1, path2, path3], completeCallback, progressCallback);
  p
  pre.javascript
    code
      | Game.preload([
      |     "./assets/bird.png",
      |     "./assets/up-tube.png",
      |     "./assets/down-tube.png",
      |     "./assets/start-button.png",
      |     "./assets/gameOver.png",
      |     "./assets/jump.ogg",
      |     "./assets/bgm.ogg"
      | ],function() {
      |     Game.start();
      | });
  p.warning Koding School 平台編輯程式，不需要載入素材
section
  h3
    span#start-setBackdrop 設定背景
  p
  p
    span.syntax Game.setBackdrop(path, x, y, width, height);
    | path: 素材的網址
    br
    | x: 背景圖左上角 x 座標
    br
    | y: 背景圖左上角 y 座標
    br
    | width: 長度
    br
    | height: 寬度
  p
  pre.javascript
    code
      | Game.setBackdrop("./assets/background.png", 0, 0, 470, 400);
  span.example-code.js-example-code(href='', code-path='../test/start/setBackdrop.js') 範例程式
section
  h3
    span#start-createSprite 創造角色
  p 創造出小鳥，預設位置為場景中央
  pre.javascript
    code
      | var bird = Game.createSprite("./assets/bird.png");
  p 創造出上下水管，並設定座標位置
  pre.javascript
    code
      | var tubeUp = Game.createSprite({
      |     costumes: "./assets/up-tube.png",
      |     x: 450,
      |     y: -30
      | });
      | var tubeDown = Game.createSprite({
      |     costumes: "./assets/down-tube.png",
      |     x: 450,
      |     y: 430
      | });
  span.example-code.js-example-code(code-path='../test/start/createSprite.js') 範例程式
section
  h3
    span#start-forever 遊戲迴圈
  p
    span.syntax Game.forever(fn) | Game.aways(fn) | Game.update(fn)
    |                         fn: 遊戲迴圈，重複不斷執行的函式
  p 在遊戲迴圈裡不斷移動水管，如果水管移動超出邊界就重置水管的位置
  pre.javascript
    code
      | Game.forever(function() {
      |     tubeUp.x -= 2;
      |     tubeDown.x -= 2;
      |     if(tubeUp.x < 0) {
      |         resetTube();
      |     } 
      | });
  p 重置水管的函式，將水管移到右邊遊戲場景外，並隨機水管的位置
  pre.javascript
    code
      | function resetTube () {
      |     var pos = Math.random()*300 + 50;
      |     tubeUp.x = 450;
      |     tubeDown.x = 450;
      |     tubeUp.y = pos - 230;
      |     tubeDown.y = pos + 230;
      | }
  span.example-code.js-example-code(code-path='../test/start/forever.js') 範例程式
section
  h3
    span#start-event 遊戲事件
  p 幫鳥加上重力，創造變數 vx 表示鳥的下降速度
    pre.javascript
      code
        | var vy = 0;
        | Game.forever(function() {
        |     bird.y + vy;
        |     vy += 0.2;
        | });
  p 當滑鼠點擊時，鳥要往上飛行
  pre.javascript
    code
      | Game.when('click', function() { 
      |     vy = -5;
      | });
  p 小鳥碰撞水管時停止遊戲
  pre.javascript
    code
      | bird.when('touch', [tubeUp, tubeDown], function() {
      |     Game.stop();
      | });
  span.example-code.js-example-code(code-path='../test/start/event.js') 範例程式
section
  h3
    span#start-sound 遊戲音效
  p 當滑鼠點擊銀幕時，播放跳耀的音效
  pre.javascript
    code
      |  Game.when('click', function() { 
      |      vy = -5; 
      |      Game.sound.play('./assets/jump.ogg');
      | });
  p 進入遊戲後就不斷重複播放背景音樂
  pre.javascript
    code
      |  var bgm = Game.sound.play('./assets/bgm.ogg');
      |  bgm.loop = true;
  span.example-code.js-example-code(code-path='../test/start/sound.js') 範例程式
section
  h3
    span#start-print 顯示文字
  p 設計計分板並顯示在畫面左上方
  pre.javascript
    code
      | var scores = 0;
      | Game.forever(function() {
      |    if(tubeUp.x < 0) {
      |        scores += 1;
      |    }
      |    Game.print(scores, 10, 10, 'white', 45);
      | });
  span.example-code.js-example-code(code-path='../test/start/print.js') 範例程式
section
  h3
    span#start-final 完成
  p 創造開始按鈕與遊戲結束Logo，並隱藏結束Logo
  pre.javascript
    code
      | var startBtn = Game.createSprite("./assets/start-button.png");
      | var gameOverLogo = Game.createSprite({
      |     costumes: "./assets/gameOver.png",
      |     hidden: true,
      |     y: 100
      | });
  p 當點擊開始按鈕時，執行初始化函式 start，遊戲初始化函式會初始角色的座標與歸零分數，並將飛行狀態改為 true
  pre.javascript
    code
      | startBtn.when('click', start);
      | 
      | var flying = false;
      | function start () {
      |     startBtn.hidden = true;
      |     gameOverLogo.hidden = true;
      |     flying = true;
      |     bird.y = 200;
      |     scores = 0;
      | }
  p 當玩家撞到水管或是超出上下的邊界，執行遊戲結束的函式 gameOver，將會顯示結束 logo 和重新開始的按鈕，並修改飛行狀態為 false
  pre.javascript
    code
      | bird.when('touch', [tubeUp, tubeDown], gameOver);
      | Game.forever(function() {
      |     if(bird.y > 400 || bird.y < 0) {
      |         gameOver();
      |     }
      | });
      | 
      | function gameOver () {
      |     gameOverLogo.hidden = false;
      |     startBtn.hidden = false;
      |     flying = false;
      | }
  p 改寫遊戲迴圈的判斷式
  pre.javascript
    code
      | Game.forever(function() {
      |     if(!flying) {
      |         return;
      |     }
      | }
  span.example-code.js-example-code(code-path='../test/start/final.js') 範例程式