body {
    background-color: #eee;
    margin: 0;
    padding: 0;
}
h1 {
    /*font-size: 2em;*/
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}
h2 {
    /*font-size: 1.5em;*/
    font-size: 2.3em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}
h3 {
    /*font-size: 1.17em;*/
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
p {
    /*font-size: 1em;*/
    font-size: 0.9em;
    margin-top: 1em;
    margin-bottom: 1em;
}
a {
    color: rgb(21, 159, 159);
}
section {
    margin-bottom: 60px;
}
section:last-child {
    margin-bottom: calc(100vh - 5
    00px);
}

pre {}
code {}

.warning {
    background-color: #ffcece;
    color: #ff5656;
    border: 2px solid #ff5656;
    // border-radius: 5px;
    padding: 15px;
}

.container {
    width: 800px;
    margin: auto;
    padding: 45px 0px;
}

.header {
    width: 100vw;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    position: fixed;
    background-color: #fff;

    a {
        display: inline-block;
        margin: 0px 5px;
    }
}

.content {
    width: 100%;
    height: 300vh;
    padding-left: 230px;
    margin-top: 60px;
    box-sizing: border-box;
    color: #333;
}

.hljs {
    padding: 15px 10px;
    border: 2px solid #ccc;
}

.syntax {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.example-code {
    color: rgb(21, 159, 159);
    font-size: 0.9em;
    text-decoration: underline;
    cursor: pointer;
}

.popup {
    transition: all 0.4s;
    &-shadow {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        display: none;
    }
    &-content {
        position: fixed;
        top: 50vh;
        left: 50vw;
        background-color: #fff;
        transition: all 0.4s;
        transform: translate(-50%, 100vh);
        box-shadow:0 10px 16px 0 rgba(0,0,0,0.2);
    }
    &.active {
        .popup-shadow {
            display: block;
        }
        .popup-content {
            transform: translate(-50%, -50%);
        }
    }
}

.stage {
    width: 1060px;
    height: 410px;
    padding: 10px;
    box-sizing: border-box;
    .CodeMirror, iframe {
        display: inline-block;
        width: 520px;
        height: 390px;
    }
    .start {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
    .close {
        position: absolute;
        right: -20px;
        top: -20px;
        width: 30px;
        height: 30px;
        padding: 0;
        font-size: 1em;
        border-radius: 50%;
    }
}

.treemenu {
    position: fixed;
    width: 230px;
    height: 100vh;
    box-sizing: border-box;
    a {
        border-left: 3px solid rgba(0,0,0,0);
        padding: 2px 7px;
        color: #777;
        text-decoration: none;
    }
    li {
        padding-top: 7px;
        & > a {
            font-size: 0.9em;
        }
        li > a {
            font-size: 0.8em;
        }
    }
    ul {
        list-style-type: none;
        padding-left: 15px;
        ul {
            display: none;
        }
    }
    li.focus ul {
        display: list-item;
        
    }
    li.focus > a {
        color: rgb(21, 159, 159);
        border-left: 3px solid rgb(21, 159, 159);
    }
}

.btn {
    display: inline-block;
    border: 0;
    margin: 3px;
    font-size: 1.4em;
    color: white;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 5px 15px;
    &.start {
        background-color: #d13b21
    }
    &.start:hover {
        background-color: #e8553c
    }
    &.close {
        background-color: #bbb
    }
    &.close:hover {
        background-color: #ccc
    }
}