body {
  background-color: #e3e3e3;
  margin: 0;
  padding: 0; }

h1 {
  /*font-size: 2em;*/
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em; }

h2 {
  /*font-size: 1.5em;*/
  font-size: 2.3em;
  margin-top: 0.83em;
  margin-bottom: 0.83em; }

h3 {
  /*font-size: 1.17em;*/
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em; }

p {
  /*font-size: 1em;*/
  font-size: 0.9em;
  margin-top: 1em;
  margin-bottom: 1em; }

a {
  color: #159f9f;
  transition: color 0.3s; }
  a:hover {
    color: #70c3c3; }

section {
  margin-bottom: 60px; }

section:last-child {
  margin-bottom: calc(100vh - 5 00px); }

.warning {
  background-color: #ffcece;
  color: #ff5656;
  border: 2px solid #ff5656;
  padding: 15px;
  width: calc(100% - 34px); }

.container {
  width: 800px;
  margin: auto;
  padding: 45px 0px; }

.header {
  width: calc(100vw - 40px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  height: 50px;
  position: fixed;
  background-color: #eeeeee;
  z-index: 100;
  box-shadow: 1px 0.3em 1em #666666;
  border-bottom: 2px solid #333333; }
  .header a {
    display: inline-block;
    margin-right: 2%;
    text-decoration: none;
    font-size: 1.5em;
    height: 100%;
    cursor: pointer; }
    .header a:hover {
      border-bottom: 2px solid #5fccce; }
  .header input {
    top: 0%;
    right: 5%;
    height: 80%;
    position: absolute;
    width: 15%;
    line-height: 100%;
    padding-left: 1.2em;
    padding-right: 3em;
    background-color: #138789;
    border: none;
    transition: background-color 0.5s;
    display: inline-block;
    transform: translateY(-50%);
    top: 50%;
    color: #fefefe;
    font-size: 1.2em; }
    .header input:hover {
      background-color: #5fccce; }
    .header input::placeholder {
      color: #fefefe; }
  .header button {
    position: absolute;
    height: 60%;
    width: 5%;
    line-height: 100%;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 5%;
    transform: translateY(-50%);
    top: 50%; }
    .header button img {
      max-width: 80%;
      max-height: 80%; }
  .header * {
    outline: none; }

.container {
  position: absolute;
  top: 75px;
  width: 100vw;
  height: calc(100vh - 75px);
  padding: 0px; }
  .container .homepage #title {
    position: absolute;
    font-size: 5em;
    left: 50%;
    transform: translateX(-50%);
    animation: title 0.5s ease-in-out 1;
    filter: drop-shadow(8px 8px 5px #333333); }

@keyframes title {
  from {
    top: -500px; }
  to {
    top: 0px; } }
  .container .homepage .popup.js-popup.active#editor .popup-content {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }

.content {
  width: calc(100% - 200px - 20px);
  height: 300vh;
  position: relative;
  left: 220px;
  margin-top: 60px;
  box-sizing: border-box;
  color: #333; }
  @media (min-width: 800px) {
    .content {
      width: 70%; } }
  .content > *:not(pre):not(.warning) {
    width: 100%; }

.hljs {
  padding: 15px 10px;
  border: 2px solid #ccc;
  width: calc(100% - 24px); }

.syntax {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  font-size: 1.1em; }

.example-code {
  color: #159f9f;
  font-size: 0.9em;
  text-decoration: underline;
  cursor: pointer; }

.popup {
  transition: all 0.4s; }
  .popup-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; }
  .popup-content {
    position: fixed;
    top: 50vh;
    left: 50vw;
    background-color: #fff;
    transition: all 0.4s;
    transform: translate(-50%, 100vh);
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2); }
  .popup.active .popup-shadow {
    display: block; }
  .popup.active .popup-content {
    transform: translate(-50%, -50%); }

.stage {
  width: 1060px;
  height: 410px;
  padding: 10px;
  box-sizing: border-box; }
  .stage .CodeMirror, .stage iframe {
    display: inline-block;
    width: 520px;
    height: 390px; }
  .stage .control {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 15%; }
  .stage .start {
    position: absolute;
    bottom: -50px;
    left: 45%;
    transform: translateX(-80%); }
  .stage .stop {
    position: absolute;
    bottom: -50px;
    right: 45%;
    transform: translateX(80%); }
  .stage .close {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 1em;
    border-radius: 50%; }

#open_side {
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 90px;
  left: 10px;
  border-radius: 50%;
  background: #dfdfdf;
  border: none; }
  @media (max-width: 500px) {
    #open_side {
      display: none; } }

.treemenu {
  position: fixed;
  top: 0px;
  left: -200px;
  width: 200px;
  height: 100vh;
  box-sizing: border-box;
  background: #eeeeee;
  transition: left 1s; }
  @media (min-width: 500px) {
    .treemenu {
      left: 0px; } }
  .treemenu a {
    border-left: 3px solid transparent;
    padding: 2px 7px;
    color: #333333;
    text-decoration: none; }
  .treemenu li {
    padding-top: 7px; }
    .treemenu li > a {
      font-size: 24px; }
    .treemenu li li > a {
      font-size: 16px; }
  .treemenu > ul {
    position: relative;
    top: 80px; }
  .treemenu ul {
    list-style-type: none;
    padding-left: 15px; }
    .treemenu ul ul {
      display: none; }
  .treemenu li.focus ul {
    display: list-item; }
  .treemenu li.focus > a {
    color: #159f9f;
    border-left: 3px solid #159f9f; }

.btn {
  display: inline-block;
  border: 0;
  margin: 3px;
  font-size: 1.4em;
  color: white;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 5px 15px;
  cursor: pointer; }
  .btn.start {
    background-color: #d13b21; }
  .btn.start:hover {
    background-color: #e8553c; }
  .btn.stop {
    background-color: #556575; }
  .btn.stop:hover {
    background-color: #687898; }
  .btn.close {
    background-color: #555; }
  .btn.close:hover {
    background-color: #333; }

.animations {
  overflow-y: hidden;
  z-index: -2;
  width: 100%;
  height: 100%;
  position: relative; }
  .animations * {
    z-index: -1; }
  .animations #koding {
    width: 300px;
    height: 356px;
    position: absolute;
    bottom: 0px;
    left: -100px;
    animation: koding 2s linear 0s infinite alternate;
    filter: drop-shadow(10px 10px 5px #333333); }
  .animations #flappy {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    right: 50px;
    animation: flappy 2s ease-in-out 0s infinite alternate;
    filter: drop-shadow(10px 10px 5px #333333); }

@keyframes koding {
  from {
    transform: rotate(-15deg); }
  to {
    transform: rotate(15deg); } }

@keyframes flappy {
  from {
    transform: translateY(0px) rotate(0deg); }
  to {
    transform: translateY(-400px) rotate(25deg); } }

.example-tags {
  width: 20%;
  height: 100%;
  top: 5%;
  overflow-y: auto;
  position: fixed;
  display: block; }
  .example-tags ul {
    position: absolute;
    list-style: none;
    width: 100%;
    height: auto;
    top: 15%;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    padding: 0px; }
    .example-tags ul li {
      font-size: 30px;
      transition: color 0.3s; }
      .example-tags ul li:hover {
        color: #159f9f;
        cursor: pointer; }
      .example-tags ul li:before {
        content: '|';
        color: #5fccce;
        display: inline-block;
        width: 5%;
        height: 100%; }

.examples {
  position: relative;
  width: 80%;
  left: 60%;
  transform: translateX(-50%); }
  .examples .example {
    width: 240px;
    height: 280px;
    background: #ffffff;
    display: inline-flex;
    position: relative;
    border-radius: 4px;
    margin-left: 2em;
    margin-bottom: 1em; }
    .examples .example img {
      position: absolute;
      width: 240px;
      height: 180px;
      top: 4px; }
    .examples .example a {
      position: absolute;
      left: 0px;
      top: 200px;
      margin: 0px;
      text-align: center;
      width: 240px;
      height: 80px;
      font-size: 20px;
      line-height: 100%;
      text-decoration: none; }

#top {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;
  width: 64px;
  height: 64px;
  filter: invert(0.3);
  transition: filter 0.3s;
  cursor: pointer; }
  #top:hover {
    filter: invert(0); }
