body {
    background-color: #eee;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 1.1rem;
}

h1 {
    /*font-size: 2em;*/
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

h2 {
    /*font-size: 1.5em;*/
    font-size: 2.3em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

h3 {
    /*font-size: 1.17em;*/
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    /*font-size: 1em;*/
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

// a {
//     color: rgb(21, 159, 159);
// }

section {
    margin-bottom: 60px;
}

section:last-child {
    margin-bottom: calc(100vh - 5 00px);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: all 0.4s;

    &-content {
        position: absolute;
        height: 100vh;
        right: 0;
        padding: 15px;
        background-color: #fff;
        transition: all 0.4s;
        transform: translate(100vw, 0px);
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
        overflow: scroll;
        min-width: calc(100vw - 500px);
    }

    &.active {
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        .popup-content {
            transform: translate(0, 0);
        }
    }

    #sandbox {
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        margin-bottom: 30px;
    }
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    margin: 3px;
    font-size: 1.4em;
    color: white;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 5px 15px;
    &.run {
        background-color: #d13b21;
    }
    &.run:hover {
        background-color: #e8553c;
    }
}

span.example-code {
    cursor: pointer;
    display: inline-block;
    border: 0;
    margin: 3px;
    font-size: 1.4em;
    color: white;
    background-color: #d13b21;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 5px 15px;
    
    &:hover {
        background-color: #e8553c;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    padding: 15px;
    padding-bottom: 90px;
    z-index: 100;
    box-sizing: border-box;
    background-color: #222;
    overflow-y: scroll;

    .navbar-title, .navbar-item {
        cursor: pointer;
        display: block;
        text-decoration: none;
        &:hover {
            color: gold;
        }
        &.focus {
            color: gold;
        }
    }
    .navbar-title {
        margin-top: 20px;
        color: #999;
        font-size: 1.4rem;
    }
    .navbar-item {
        padding: 3px 0px;
        color: #666;
    }
}

.container {
    padding: 15px;
    margin-left: 250px;
}

.runner {
    width: 100%;
    max-width: calc(100vw - 300px);
    .CodeMirror.cm-s-mbo {
        height: 150px;
    }
    #sandbox {
        margin-top: 15px;
        width: 100%;
        height: calc(100vh - 250px);
    }
}