doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(rel='stylesheet', href='../lib/atom-one-dark.css')
    link(rel='stylesheet', href='./index.css')
    link(rel='stylesheet', href='../lib/codemirror/codemirror.css')
    link(rel='stylesheet', href='../lib/codemirror/theme/mbo.css')
    script(src='../lib/highlight.pack.js')
    script.
      hljs.initHighlightingOnLoad();
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='./index.js')
    script(src='../lib/codemirror/codemirror.js')
    script(src='../lib/codemirror/mode/javascript/javascript.js')
  body
    .container
      .treemenu
        ul
          li
            a(href='#intro') Engine
            ul
              li
                a(href='#intro') 介紹
              li
                a(href='#require') 環境準備
          li
            a(href='#start') 開始
            ul
              li
                a(href='#start-game') 創造遊戲
              li
                a(href='#start-preload') 素材載入
              li
                a(href='#start-setBackdrop') 設定背景圖
              li
                a(href='#start-createSprite') 創造角色
              li
                a(href='#start-forever') 遊戲迴圈
              li
                a(href='#start-event') 遊戲事件
              li
                a(href='#start-sound') 遊戲音效
              li
                a(href='#start-print') 顯示文字
              li
                a(href='#start-final') 完成
          li
            a(href='#sprite-prop') 角色的特徵
            ul
              li
                a(href='#sprite-prop-xy') 座標
              li
                a(href='#sprite-prop-direction') 方向
              li
                a(href='#sprite-prop-scale') 大小
              li
                a(href='#sprite-prop-rotationStyle') 旋轉方式
              li
                a(href='#sprite-prop-opacity') 透明度
              li
                a(href='#sprite-prop-costumeId') 造型編號
              li
                a(href='#sprite-prop-layer') 圖層順序
              li
                a(href='#sprite-prop-hidden') 隱藏
          li
            a(href='#sprite-methods') 角色的方法
            ul
              li
                a(href='#sprite-methods-moveTo') 移動到
              li
                a(href='#sprite-methods-move') 位移
              li
                a(href='#sprite-methods-stepForward') 朝向前方移動
              li
                a(href='#sprite-methods-toward') 朝向
              li
                a(href='#sprite-methods-event') 綁定事件
              li
                a(href='#sprite-methods-touched') 碰撞檢測
              li
                a(href='#sprite-methods-forever') 角色遊戲迴圈
              li
                a(href='#sprite-methods-animate') 播放動畫
              li
                a(href='#sprite-methods-destroy') 銷毀
          li
            a(href='#event') 事件
            ul
              li
                a(href='#event-click') 點擊
              li
                a(href='#event-touch') 碰撞
              li
                a(href='#event-hover') 滑鼠覆蓋
              li
                a(href='#event-keydown') 鍵盤按下
              li
                a(href='#event-keyup') 鍵盤放開
              li
                a(href='#event-holding') 鍵盤按住
          li
            a(href='#keyboard-cursor') 鍵盤&滑鼠
            ul
              li
                a(href='cursor') 滑鼠狀態
              li
                a(href='#keyboard') 鍵盤狀態
          li
            a(href='#sound') 聲音
            ul
              li
                a(href='#sound-play') 播放
              li
                a(href='#sound-setVolume') 音量大小
              li
                a(href='#sound-mute') 靜音
              li
                a(href='#sound-stop') 停止
          li
            a(href='#pen') 繪筆
            ul
              li
                a(href='#pen-attr') 繪筆屬性
              li
                a(href='#pen-drawLine') 線條
              li
                a(href='#pen-drawRect') 矩形
              li
                a(href='#pen-drawCircle') 圓形
              li
                a(href='#pen-drawTriangle') 三角形
              li
                a(href='#pen-drawPolygon') 多邊形
              li
                a(href='#pen-drawText') 文字
          //- li
          //-   a(href='#1') 開發
          //-   ul
          //-     li
          //-       a(href='#1') 環境安裝
          //-     li
          //-       a(href='#1') 叩叮學院
      .content
        h1
          span#engine
          | EngineJS
        section
          h2
          include ./sections/intro
        section
          h2
            span#start 開始
          include ./sections/start
        section
          h2
            span#sprite-prop 角色屬性
          include ./sections/sprite_prop
        section
          h2
            span#sprite-methods 角色方法
          include ./sections/sprite_meth
        section
          h2
            span#event 事件
          include ./sections/events
        section
          h2
            span#keyboard-cursor 鍵盤&滑鼠
          include ./sections/io
        section
          h2
            span#sound 聲音
          include ./sections/sound
        section
          h2
            span#pen 繪筆
          include ./sections/pen
    .popup.js-popup#editor
      .popup-content
        .stage
          textarea#editor-textarea(name='')
          iframe#sandbox(src='../test/sandbox.html', frameborder='0', scrolling="no")
        .btns
          button.btn.start.js-start Run
