doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(rel='stylesheet', href='../lib/atom-one-dark.css')
    link(rel='stylesheet', href='./index.css')
    link(rel='stylesheet', href='../lib/codemirror/codemirror.css')
    link(rel='stylesheet', href='../lib/codemirror/theme/mbo.css')
    script(src='../lib/highlight.pack.js')
    script.
      hljs.initHighlightingOnLoad();
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='./index.js')
    script(src='../lib/codemirror/codemirror.js')
    script(src='../lib/codemirror/mode/javascript/javascript.js')
  body
    .navbar
      a.navbar-title(href='./index.html') Document
      each val, key in locals
        a.navbar-title(href="#")=key
        each f in val
          a.navbar-item.js-example-code(href="#" + f.path, code-path="../" + f.path)=f.name
    
    .container
      .runner
        button.btn.run.js-run Run
        textarea#editor-textarea(name='')
        iframe#sandbox(src='../test/sandbox.html', frameborder='0', scrolling="no")
      


