p
	span.syntax Game.on | Game.on
	| 綁定遊戲的事件的方法 
	pan.syntax Sprite.on | Sprite.on
	| 綁定角色事件的方法
section
	h3
		span#event-touch 碰撞 touch
	p
		span.syntax Sprite.on('touch', target, callback);
		| 單一對象的碰撞
	pre.javascript
		code
			| bird.on('touch', bird, callback);
	span.example-code.js-example-code(code-path='../test/events/on_touch.js') 範例程式
	p
		span.syntax Sprite.on('touch', [target], callback);
		| 多個對象的碰撞，可以傳入陣列
	pre.javascript
		code
			| bird.on('touch',[bird_1, bird_2], callback);
	span.example-code.js-example-code(code-path='../test/events/on_touch_multi.js') 範例程式
section
	h3
		span#event-click 點擊 click
	p 
		span.syntax Game.on('click', callback);
		| 點擊遊戲場景
	pre.javascript
		code
			| Game.on('click', function () {
			|     bird.scale += 0.5;
			| });
	span.example-code.js-example-code(code-path='../test/events/on_click.js') 範例程式
	p 
		span.syntax Sprite.on('click', callback);
		| 當滑鼠點擊 sprite 執行函式
	pre.javascript
		code
			| bird.on('click', bird, function () {
			|     this.scale += 0.5;
			| });
	span.example-code.js-example-code(code-path='../test/events/on_click_on_sprite.js') 範例程式
	p 
		span.syntax Sprite.on('click', [bird_1, bird_2, bird_3], callback);
		| 當滑鼠點擊 sprite 執行函式
	pre.javascript
		code
			| bird.on('click', birds, function () {
			|     this.scale += 0.5;
			| });
	span.example-code.js-example-code(code-path='../test/events/on_click_multi.js') 範例程式
section
	h3
		span#event-mousedown 滑鼠按下
	p
		span.syntax Game.on('mousedown', callback);
	pre.javascript
		code
			| Game.on('mousedown', function() {
			|     bird.scale += 1;
			| });
	span.example-code.js-example-code(code-path='../test/events/on_mousedown.js') 範例程式
	p
		span.syntax Sprite.on('mousedown', callback);
	pre.javascript
		code
			| Game.on('mousedown', bird, function() {
			|     bird.scale += 1;
			| });
	span.example-code.js-example-code(code-path='../test/events/on_mousedown_on_sprite.js') 範例程式
section
	h3
		span#event-mouseup 滑鼠放開
	p
		span.syntax Game.on('mouseup', callback);
	pre.javascript
		code
			| Game.on('mouseup', function() {
			|     bird.scale += 1;
			| });
	span.example-code.js-example-code(code-path='../test/events/on_mouseup.js') 範例程式
	p
		span.syntax Sprite.on('mouseup', bird, callback);
	pre.javascript
		code
			| bird.on('mouseup', function() {
			|     bird.scale += 1;
			| });
	span.example-code.js-example-code(code-path='../test/events/on_mouseup_on_sprite.js') 範例程式
section
	h3
		span#event-keydown 鍵盤按下
	p
		span.syntax Game.on('keydown', keyName, callback);
	p 當按下任意按鍵，執行函式
	pre.javascript
		code
			| Game.on('keydown', function() {
			|     bird.scale += 0.2;        
			| });
	span.example-code.js-example-code(code-path='../test/events/on_keydown.js') 範例程式
	p 當按下特定按鍵，執行函式
	p
		span.syntax Game.on('keydown', keyName, callback);
	pre.javascript
		code
			| Game.on('keydown', 'space', function() {
			|     bird.scale += 0.2;        
			| });
	span.example-code.js-example-code(code-path='../test/events/on_keydown_on_key.js') 範例程式
section
	h3
		span#event-keyup 鍵盤放開
	p
		span.syntax on('keyup';, keyName, callback);
	p 當放開任意按鍵，執行函式
	pre.javascript
		code
			| Game.on('keyup', function() {
			|     bird.scale += 0.5;        
			| });
	span.example-code.js-example-code(code-path='../test/events/on_keydown.js') 範例程式
	p
		span.syntax on('keyup';, keyName, callback);
	p 當放開特定按鍵，執行函式
	pre.javascript
		code
			| Game.on('keyup', 'space' , function() {
			|     bird.scale += 0.5;        
			| });
	span.example-code.js-example-code(code-path='../test/events/on_keydown.js') 範例程式
	
section
	h3
		span#event-holding 按鍵持續按壓
	p
		span.syntax Game.on('holding', callback);
	p 持續按壓任意按鍵，觸發執行函式，可以傳入 'any' 或是省略參數
	pre.javascript
		code
			| Game.on('holding', function() {
			|     bird.direction += 3;
			| });
	span.example-code.js-example-code(code-path='../test/events/on_holding.js') 範例程式
	p
		span.syntax Game.on('holding', keyName, callback);
	p 持續按壓特定按鍵，觸發執行函式
	pre.javascript
		code
			| Game.on('holding', 'right', function() {
			|     bird.x += 1;
			| });
	span.example-code.js-example-code(code-path='../test/events/on_holding_on_key.js') 範例程式