section
	h3
		span#event-click #
		| 點擊事件
	p 
		span.syntax Game.when("click", sprite, callback);
		| 當滑鼠點擊 sprite 執行函式
	p
	pre.javascript
		code
			| Game.when("click", bird, function () {
			|     bird.scale += 0.5;
			| });
	span.example-code.js-example-code(code-path='../test/events/click.js') 範例程式
section
	h3
		span#event-touch #
		| 碰撞
	p
		span.syntax Game.when("touch",[Sprite1, Sprite2], callback);
	p
	pre.javascript
		code
			| when("touch",[Sprite1, Sprite2], callback);
	span.example-code.js-example-code(code-path='../test/events/touch.js') 範例程式
section
	h3
		span#event-hover #
		| 滑鼠碰撞
	p
		span.syntax Game.when("hover", sprite, callback);
	pre.javascript
		code
			| Game.when("hover", bird, function() {
			|     setBackdrop("pink");
			| });
	span.example-code.js-example-code(code-path='../test/events/hover.js') 範例程式
section
	h3
		span#event-keydown #
		| 鍵盤按下
	p
		span.syntax Game.when("keydown", keyName, callback);
	p
	pre.javascript
		code
			| Game.when('keydown', "space", function() {
			|     bird.scale += 0.5;        
			| });
	span.example-code.js-example-code(code-path='../test/events/keydown.js') 範例程式
section
	h3
		span#event-keyup #
		| 鍵盤放開
	p
		span.syntax when("keyup";, keyName, callback);
	p
	pre.javascript
		code
			| Game.when("keyup", "space", , function() {
			|     bird.scale += 0.5;        
			| });
	span.example-code.js-example-code(code-path='../test/events/keyup.js') 範例程式
section
	h3
		span#event-holding #
		| 按鍵持續按壓
	p
		span.syntax Game.when("holding", keyName, callback);
	p
	pre.javascript
		code
			| Game.when("holding", "right", function() {
			|     bird.x += 1;        
			| });
	span.example-code.js-example-code(code-path='../test/events/holding.js') 範例程式