section
  h3
    span#intro 介紹
  p EngineJs 是一個輕量的遊戲引擎框架，語法相似於 Scratch 積木程式，對於從學習 Scratch 到入門 JavaScript 的新手十分的友善，既使尚未學習過任何程式語言也能輕鬆入門，快速做出屬於自己的遊戲。
section
  h3
    span#require 環境準備
  p 
    | 1. 
    a(href="https://koding.school/") 線上編輯器
    br
    | 2. 使用 CDN
  pre.javascript
    code
      | &lt;script src="https://orangeappletw.github.io/engine.js/engine-min.js"&gt;&lt;/script&gt;
  
