section
  h3
    span#sound-play #
    | 播放
  p
    | 播放聲音
  p
    | sound.play(fileName);
  p
    | fileName String: 音效素材的名字
  pre.javascript
    code
      | sound.play("shoot.mp3");
  span.example-code.js-example-code(code-path='/test/sound/play.js') 範例程式
section
  h3
    span#sound-setVolume #
    | 設定音量
  p
    | 設定音量
  p
    | sound.setVolume(num);
  p
    | num Number: 0 ~ 1 的音量大小
  pre.javascript
    code
      | sound.setVolume(0.5);
  span.example-code.js-example-code(code-path='/test/sound/setVolume.js') 範例程式
section
  h3
    span#sound-mute #
    | 靜音
  p
    | 全部音效設定是否靜音
  p
    | sound.mute(bool);
  p
    | bool Boolean: 若為 true 則將所有音效靜音
  pre.javascript
    code
      | sound.mute(true);
  span.example-code.js-example-code(code-path='/test/sound/stop.js') 範例程式
section
  h3
    span#sound-stop #
    | 停止播放
  p
    | 停止所有的音效
  p
    | sound.stop();
  p
    | 無
  pre.javascript
    code
      | sound.stop();
  span.example-code.js-example-code(code-path='/test/sound/stop.js') 範例程式