section
  h3
    span#sound-play 播放
  p
    span.syntax sound.play(fileName);
    | fileName: 音效素材的路徑
  pre.javascript
    code
      | sound.play("shoot.mp3");
  span.example-code.js-example-code(code-path='../test/sound/play.js') 範例程式
section
  h3
    span#sound-setVolume 設定音量
  p
    span.syntax sound.setVolume(num);
    | num: 0 ~ 1 的音量大小
  pre.javascript
    code
      | sound.setVolume(0.5);
  span.example-code.js-example-code(code-path='../test/sound/setVolume.js') 範例程式
section
  h3
    span#sound-mute 靜音
  p
    span.syntax sound.mute(bool);
    | bool: 若為 true 則將所有音效靜音
  pre.javascript
    code
      | sound.mute(true);
  span.example-code.js-example-code(code-path='../test/sound/mute.js') 範例程式
section
  h3
    span#sound-stop 停止播放
  p
    span.syntax sound.stop();
    | 停止所有的音效
  pre.javascript
    code
      | sound.stop();
  span.example-code.js-example-code(code-path='../test/sound/stop.js') 範例程式